:root {
    --green-25: #e1ffa0;
    --green-100: #C2FF3B;
    --green-700: #20612c;
    --green-800: #17451f;
    --dark-blue: #24325fff;
    --dark-blue-100: #3e5178;
    --dark-blue-200-opacity: #32436c46;
    --dark-blue-200-opacity-2: #32436c61;
    --very-dark-blue: #18213e;
    --skyblue-200: #b7e4f9ff;
    --skyblue-200-opacity: #b7e4f917;
}